 /*

Hero Image 

*/

.heroimage {
  width: 100%;
  height: 850px;
  background: url(images/DSC00288.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: local, scroll;
  border-bottom: solid 8px coral;
}
 /*

Navbar 

*/

.navbar {
  background-color: rgba(255, 166, 1, 0.3);
  font-size: 1rem;
  padding-right: 50px;
}

@media (max-width: 576px) {
.navbar {
  background-color: rgba(255, 166, 1, 0.3);
  padding-right: 50px;
 }
}

.navbar-toggler-icon,
.navbar-toggler {
  border-color: #fff;
  text-decoration-color: #fff;
  border-radius: 1px;
  background-color: transparent;
}

.nav-item, .nav-link {
  color: white;
}

.nav-item-active {
  background-color: transparent;
}

@media (min-width: 576px) {
  .navbar-expand-lg .navbar-toggler {
  }
} 

@media (max-width: 576px) {
  .navbar {
      background-color:  color: rgba (63, 34, 0, 0.2);
      margin-bottom: 30px;
      padding-right: 50px;
    }
  }


@media (min-width: 768px) {
  .navbar-expand-lg, .navbar-collapse,
  .navbar-expand-lg, .navbar-collapse {
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
    
  
 /*

Menu

*/

.dropdown-menu {
  background-color: transparent;
  color: white;
  border: none;       
}

a.dropdown-item {
  background-image: linear-gradient(90deg, rgba(255, 127, 80, 1), rgba(255, 255, 255, 0));
  color: white;
  font-size: 1.25rem;
  line-height: 3rem;
  padding-right: 1rem;
  margin-right: 30px;
}

.head {
  font-family: hotel-open,sans-serif;
  font-style: normal; 
  font-size: 3em;
  margin-left: 2rem;
  line-height: 1em;
  color: rgb(255, 255, 255, 0.8);
  text-align: left;
  letter-spacing: 5px;
}

/* 

Head Breaks 

*/

.head {
   font-family: hotel-open,sans-serif;
   font-style: normal; 
   font-size: 4em;
   line-height: 1em;
   letter-spacing: 3px;
   margin-top: .5em;
   margin-left: 1.5em;
   color: rgb(255, 255, 255, 0.8);
   text-align: left;          
}

@media (max-width: 768px) {
  .head {
    font-family: hotel-open,sans-serif;
    font-style: normal; 
    font-size: 4em;
    line-height: 1em;
    letter-spacing: 3px;
    margin-top: .5em;
    margin-left: 1.5em;
  }
}

@media (max-width: 576px) {
  .head {
    font-family: hotel-open,sans-serif;
    font-style: normal; 
    font-size: 4em;
    line-height: 1em;
    letter-spacing: 3px;
    margin-left: 1em;
  }
}

@media (max-width: 375px) {
  .head {
    font-family: hotel-open,sans-serif;
    font-style: normal; 
    font-size: 3.5em;
    line-height: 1em;
    letter-spacing: 3px;
    margin-left: .5em;
  }
}

/* 

subHead Breaks 

*/

p.subhead {
  font-family: apotek,sans-serif;
  font-style: normal;
  color: rgb(63, 34, 0);
  margin-top: 100px;
  font-size: .75em;
  line-height: 1.25em;
  letter-spacing: 3px;
  margin-left: .5em;
}

@media (max-width: 768px) {
  p.subhead {
    font-family: apotek,sans-serif;
    font-style: normal;
    font-size: .5em;
    line-height: normal;
    margin-top: 20px;
    margin-left: .5em;
    }
  }
  
@media (max-width: 576px) {
 p.subhead {
  font-family: apotek,sans-serif;
  font-style: normal;
  font-size: .5em;
  line-height: normal;
  margin-top: 20px;
  margin-left: .5em;
  }
}

@media (max-width: 375px) {
  p.subhead {
    font-family: apotek,sans-serif;
    font-style: normal;
    font-size: .5em;
    line-height: normal;
    margin-top: 20px;
    margin-left: .5em;
    }
  }

@media (max-width: 576px) {
  .row-icons {
    margin-top: 10px;
    align-items: center;
  }
}

/* 

Menu 

*/


.dropdown-menu {
  background-color: transparent;
  color: white;
  border: none;       
}

@media (max-width: 576px) {
  .dropdown-menu {
   background-color: transparent;
   color: white;
   font-size: 1em;
   line-height: 1em;
   padding-right: 1rem;
   }
 }

@media (max-width: 576px) {
  .a.dropdown-item {
  background-color: transparent;
  color: white;
  font-size: 1em;
  line-height: 1em;
  padding-right: 1rem;
  }  
}

/* 

Container

*/

.container-fluid {
  width: 100%;
  border-bottom: solid 8px coral; 
}

/* 

Portfolio

*/

.portfolio {
  font-family: apotek,sans-serif;
  font-style: normal;
  font-size: 4em;
  color: rgb(63, 34, 0);
  text-align: center;
}

.description {
  display: block;
  background-color: coral;
  text-align: center;
  padding: 0px, 0px, 0px, 0px;
  height: 50px;
  line-height: 1px;
}

/* 

Miscellaneous

*/


.link-wrap {
  background: #333;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
}

hr {
  border-width: thin;
  border-color: #fff;
  width: 450px;
}

.footer {
  font-family: sans-serif;
  text-align: center;
  font-size: 8pt;
  }


.img-fluid {
  position: relative;
  margin-bottom: 0px;
}
         
li a:hover {
  color: rgb(63, 34, 0);
}

@media (max-width: 768px) {
  .col-12 {
    font-family: apotek,sans-serif;
    font-style: normal;
  }
}

.row-name {
  font-family: apotek,sans-serif;
  font-style: normal;
  font-size: 1.25em;
  color: rgb(63, 34, 0);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  vertical-align: middle;
  line-height: 2em;
  padding: 50px;
  letter-spacing: 3px;
}

.skills {
  display: flex;
  font-family: sans-serif;
  font-size: 1em;
  width: 100%;
  color: white;
  letter-spacing: 2px;
  background-image: linear-gradient(90deg, rgba(255, 127, 80, 1), rgba(255, 255, 255, 0));
}